@import "tailwindcss";

/* Theme variables */
@theme {
  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-background: var(--background);

  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);
  --color-text-normal: var(--text-normal);

  --color-border: var(--border);
  --color-light-border: var(--light-border);

  --color-success: var(--success);
  --color-danger: var(--danger);
  --color-warning: var(--warning);
  --color-info: var(--info);
}

:root {
  /* Text */
  --text-primary: #1E293B;
  --text-secondary: #475569;
  --text-normal: #0F172A;

  /* Primary colors */
  --primary: #F3B227;
  /* Golden yellow */
  --primary-hover: #D99B1A;
  --secondary: #D96750;
  /* Coral/orange */
  --accent: #F59E0B;
  /* Amber accent */

  /* Backgrounds */
  --background: #FFFFFF;
  --card-bg: #FFFBEB;

  /* Borders */
  --border: #FDE68A;
  --light-border: #FEF3C7;

  /* Status colors */
  --success: #059669;
  --danger: #DC2626;
  --warning: #D97706;
  --info: #0EA5E9;
}

/* Dark Mode */
.dark {
  /* Text */
  --text-primary: #F3F4F6;
  --text-secondary: #9CA3AF;
  --text-normal: #FFFFFFDD;

  /* Primary colors */
  --primary: #0288D1;
  --primary-hover: #0277BD;
  --secondary: #FFC107;
  --accent: #059669;

  /* Background */
  --background: #0B0B0B;

  /* Borders */
  --border: #27272A;
  --light-border: #3F3F46;

  /* Status colors */
  --success: #34D399;
  --danger: #F87171;
  --warning: #FBBF24;
  --info: #3B82F6;
}