@import "tailwindcss";

/* Theme variables */
@theme {
  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-background: var(--background);

  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);
  --color-text-normal: var(--text-normal);

  --color-border: var(--border);
  --color-light-border: var(--light-border);

  --color-success: var(--success);
  --color-danger: var(--danger);
  --color-warning: var(--warning);
  --color-info: var(--info);
}

:root {
  /* Text */
  --text-primary: #052E16;
  /* Deep forest green */
  --text-secondary: #365314;
  /* Olive green */
  --text-normal: #1A2E05;

  /* Primary colors */
  --primary: #059669;
  /* Emerald green */
  --primary-hover: #047857;
  --secondary: #10B981;
  /* Mint green */
  --accent: #65A30D;
  /* Lime accent */

  /* Backgrounds */
  --background: #F0FDF4;
  /* Light mint */
  --card-bg: #ECFDF5;

  /* Borders */
  --border: #A7F3D0;
  /* Soft green */
  --light-border: #D1FAE5;

  /* Status colors */
  --success: #059669;
  --danger: #DC2626;
  --warning: #D97706;
  --info: #0EA5E9;
}

/* Dark Mode */
.dark {
  /* Text */
  --text-primary: #F3F4F6;
  --text-secondary: #9CA3AF;
  --text-normal: #FFFFFFDD;

  /* Primary colors */
  --primary: #0288D1;
  --primary-hover: #0277BD;
  --secondary: #FFC107;
  --accent: #059669;

  /* Background */
  --background: #0B0B0B;

  /* Borders */
  --border: #27272A;
  --light-border: #3F3F46;

  /* Status colors */
  --success: #34D399;
  --danger: #F87171;
  --warning: #FBBF24;
  --info: #3B82F6;
}